<div class="wrapper-login background">
    <div class="login-form-wrapper login-form-wrapper_long">
        <div class="login-form">
            <h2 class="small-margin">Регистрация</h2>
            {{{registrationForm}}}
            {{{link}}}
        </div>
    </div>
</div>