@import "../../../variable";

.add-chat-modal-wrapper{
  width: 298px;

  &.hide{
    display: none;
    width: 0;
  }
  
  .add-chat-modal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    input{
      width: 30%;
      background-color: $base-white;
      color: $base-color;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 15px;
      border-radius: 10px;
      font-family: initial;
      font-size: 18px;
      cursor: pointer;
      border: none;

      &:first-child {
        width: 64%;
        cursor: auto;
      }
    }

  }
}