<div class="add-chat-modal-wrapper {{class}}">
  <form action="post" class="add-chat-modal">
    <input type="text" name="title" id="title" placeholder="{{placeholder}}" />
    <input type="submit" value="{{btnTitle}}" />
  </form>
</div>