<div class="wrapper-login background">
    <div class="login-form-wrapper">
        <div class="login-form">
            <h2>Вход</h2>
            {{{loginForm}}}
            {{{link}}}
        </div>
    </div>
</div>