
<div class="wrapper-login background">
    <div class="login-form-wrapper">
        <form action="post">
            <h2>Вход</h2>
            {{{login}}}
            {{{password}}}
            <div id="enterBtn" class="submit-btn-wrapper">
                {{{mainButton}}}
            </div>
            {{{link}}}
        </form>
    </div>
</div>