@import "../../../variable";

.message {
  width: 100%;
  height: fit-content;
  min-height: 30px;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;

  .content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
  }

  .content {
    background-color: $base-white;
    border-radius: 20px;
    font-size: 22px;
    display: block;
    width: fit-content;
    padding: 5px 15px;
  }

  .user{
    width: fit-content;
    background-color: $base-white;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 2px;
  }

  &.my {
    justify-content: flex-end;

    .content-wrapper{
      align-items: flex-end;
    }

    .user{
      display: none;
    }
  }
}

.empty-chat{
  position: absolute;
  left: 50%;
  top: 50%;
  color: $base-white;
  font-weight: bold;
  font-size: 50px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $second-blue;
  border-radius: 10px;
}