
<div class="wrapper-login background">
    <div class="login-form-wrapper">
        <form action="post">
            <h2>Вход</h2>
            <div class="wrapper-input">
                <label for="login">Логин</label>
                <input type="text" name="login" id="login"></div>
            <div class="wrapper-input">
                <label for="password">Пароль</label>
                <input type="password" name="password" id="password">
            </div>
            <div id="enterBtn" class="submit-btn-wrapper">
                <button class="submitBtn" onclick="renderPage('chats')"><span>Авторизоваться</span></button>
            </div>
            <a class="navLink" onclick="renderPage('registration')">Нет аккаунта?</a>
        </form>
    </div>
</div>