<form class="typing-place" action="post">
    <div class="input-file-wrapper">{{{inputFile}}}</div>
    <input class="typing-input-text" type="text" name="message">
    <input type="submit" class="send" value="→" title="Отправить">
</form>