<ul class="dialog-list">
    {{#each dialogs}}
    <li class="dialog">
        <div class="dialog-wrapper" id="{{this.dialogId}}"  title="{{this.friendName}}">
            <div class="avatar"></div>
            <div class="name">{{this.friendName}}</div>
            <div class="unread-message">
                <span>{{this.unreadMessage}}</span>
            </div>
        </div>
    </li>
    {{/each}}
</ul>