<li class="dialog">
  <div class="dialog-wrapper" title="{{title}}">
    <div class="avatar"></div>
    <div class="name">{{title}}</div>
    {{#if unread_count}}
      <div class="unread-message">
        <span>{{unread_count}}</span>
      </div>
    {{/if}}
  </div>
  <div class="id-wrapper" id="{{id}}"></div>
</li>