<li class="dialog">
  <div class="dialog-wrapper" title="{{title}}">
    <div class="avatar"></div>
    <div class="name">{{title}}</div>
    <div class="unread-message">
      <span>{{unread_count}}</span>
    </div>
  </div>
  <div class="id-wrapper" id="{{id}}"></div>
</li>