<div class="friend">
  {{#if display_name}}
    <div class="friend-avatar">{{avatar}}</div>
    <div class="friend-name">{{display_name}}</div>
  {{else}}
    <div class="friend-name">Выберите или создайте чат..</div>
  {{/if}}
</div>