<div class="error background">
    <div class="error-wrapper">
        <h2 class="error-code">500</h2>
        <p class="error-message">Мы уже фиксим</p>
        <a  class="navLink" onclick="renderPage('login')">← Назад к чатам</a>
    </div>
</div>