@import "../../../variable.scss";
.input-file {
  position: relative;
  padding: 0;
  margin: 0;
}

.input {
  opacity: 0;
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.input-file-button {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: $base-white;
  cursor: pointer;
  text-align: center;
  font-size: 28px;
  background-image: url("./assets/pin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}