<form action="post" id="changePassword" class="settings-password">
    {{{oldPassword}}}
    {{{newPassword}}}
    <div class="accept-settings" id="savePasswordBtn">
        <input type="submit" class="submitBtn" id="submitBtn" value="Сохранить">
    </div>
</form>