<form action="post">
    {{{login}}}
    {{{password}}}
    <div class="submit-btn-wrapper">
        <input type="submit" class="submit-btn" id="submit-btn" value="Авторизоваться">
    </div>
</form>
