<div class="error background">
    <div class="error-wrapper">
        <h2 class="error-code">404</h2>
        <p class="error-message">не туда попали</p>
        <a  class="navLink" onclick="renderPage('login')">← Назад к чатам</a>
    </div>
</div>